---
import Layout from '../../layouts/Layout.astro';
import Supabase from '../../helper/serve/supabase.js';

const postData = await Supabase.getPosts('title, slug, created_at')
---

<Layout title="Unot's blog">
	<ul>
		{
			postData.map(post => (
				<li key={post.id}>
          <span>
            <i><time dateTime={post.created_at}>{new Date(post.created_at).toLocaleDateString()}</time></i>
          </span>
					<a href={`/posts/${post.slug}`}>{post.title}</a>
				</li>
			))
		}
	</ul>
</Layout>

<style>
span {
  margin-right: 18px;
}

a:visited {
  color: var(--visited-color);
}
</style>