---
const loginHandler = () => {

}
---

<form onsubmit="loginHandler">
  <label>
    username:
    <input type="text" name="username" placeholder="username">
  </label>
  <label>
    password:
    <input type="password" name="password" placeholder="password">
  </label>
</form>
